
<mat-list class="left">
  <mat-list-item *ngFor="let user of userList" (click)="showDetail(user.boId)"
     class="{{detailUser != null && detailUser.id == user.id ? ' active' : ''}}">
    <span #item >{{user.name}}</span>
  </mat-list-item>
</mat-list>
<div class="right" *ngIf="detailUser != null" style="hight: 400px;vertical-align: top;" >
  <div>
    <div class="test">
      <div class="row" (dblclick)="show('name')">
        <div class="col-3 " style="width: 200px; height: 50px">User Name</div>
        <div class="col-9 editable">
          <span [hidden]="isDisabledEdit('name')" name="target">: {{detailUser.name}} </span>
          <input type="text" class="target paper" name="user-name"
                 (keydown.enter)="hideAndSave('name')"
                 [(ngModel)]="detailUser.name"
                 [hidden]="isEnableEdit('name')"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-3 " style="width: 200px; height: 50px">BoIdPecking Date</div>
      <div class="col-9 editable">
        : {{detailUser.boId}}
      </div>
    </div>
    <div class="test">
      <div class="row" (dblclick)="show('address')">
        <div class="col-3 " style="width: 200px; height: 50px">Address</div>
        <div class="col-9 editable">
          <span [hidden]="isDisabledEdit('name')" name="target">: {{detailUser.address}} </span>
          <input type="text" class="target paper" name="user-address"
                 (keydown.enter)="hideAndSave('address')"
                 [(ngModel)]="detailUser.address"
                 [hidden]="isEnableEdit('address')"/>
        </div>
      </div>
    </div>
    <div class="test">
      <div class="row" (dblclick)="show('role')">
        <div class="col-3 " style="width: 200px; height: 50px">User Role</div>
        <div class="col-9 editable">
          <span [hidden]="isDisabledEdit('role')" name="target">: {{detailUser.role}} </span>
          <mat-select class="target paper" [(ngModel)]="detailUser.role" name="role"
                      (selectionChange)="hideAndSave('role')"
                      [hidden]="isEnableEdit('role')">
            <mat-option value="EMPLOYEE">EMPLOYEE</mat-option>
            <mat-option value="ORGANIZER">ORGANIZER</mat-option>
            <mat-option value="ADMINISTRATOR">ADMINISTRATOR</mat-option>
            <mat-option value="INSTRUCTOR">INSTRUCTOR</mat-option>
          </mat-select>
        </div>
      </div>
    </div>
  <div style="position:absolute;right:10px;bottom:10px;">
    <button mat-fab color="warn" (click)="remove(detailUser)">
      <span class="fa fa-trash-alt"></span>
    </button>
  </div>
</div>

