<form>
  <div class="test">
    <div class="row">
      <div class="col-3 "> Product Name</div>
      <div class="col-9 editable">
        <input type="text" required="required" class="target paper" name="product-name"
               [(ngModel)]="product.productName"/>
      </div>
    </div>
  </div>
  <div class="test">
    <div class="row">
      <div class="col-3 "> Pecking Date</div>
      <div class="col-9 editable">
        <input type="date" required="required" class="target paper" name="product-pecking-date"
               [(ngModel)]="product.packagingDate"/>
      </div>
    </div>
  </div>
  <div class="test">
    <div class="row">
      <div class="col-3 "> Current Sale Price</div>
      <div class="col-9 editable">
        <input type="number" min="0" required="required" class="target paper" name="product-current-sale-price"
               [(ngModel)]="product.salePrice.amount"/>
      </div>
    </div>
  </div>
  <div class="test">
    <div class="row">
      <div class="col-3 "> Current Purchase Price</div>
      <div class="col-9 editable">
        <input type="number" min="0" required="required" class="target paper" name="product-current-purchase-price"
               [(ngModel)]="product.purchasePrice.amount"/>
      </div>
    </div>
  </div>
  <div class="test">
    <div class="row">
      <div class="col-3 ">Pecking Type</div>
      <div class="col-9 editable">
        <mat-select [(ngModel)]="product.packagingType" name="packingType">
          <mat-option value="PACK">PACK</mat-option>
          <mat-option value="CARD">CARD</mat-option>
        </mat-select>
      </div>
    </div>
  </div>

  <div class="footer">
    <button mat-raised-button color="warn" class="reset-button" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</form>

