<form style="max-height: 100vh;overflow: auto">
  <div class="test">
    <div class="row">
      <div class="col-3 "> Product Name</div>
      <div class="col-9 editable">
        <input type="text" required="required" class="target paper" name="product-name"
               [(ngModel)]="product.productName"/>
      </div>
    </div>
  </div>
  <div class="test">
    <div class="row">
      <div class="col-3 "> Pecking Date</div>
      <div class="col-9 editable">
        <input type="date" required="required" class="target paper" name="product-pecking-date"
               [(ngModel)]="product.packagingDate"/>
      </div>
    </div>
  </div>
  <div class="test">
    <div class="row">
      <div class="col-3 "> Sale</div>
      <div class="col-9 editable">
        <input type="number" min="0" required="required" class="target paper" name="product-current-sale-price"
               [(ngModel)]="product.salePrice.amount"/>
      </div>
    </div>
  </div>
  <div class="test">
    <div class="row">
      <div class="col-3 "> Purchase</div>
      <div class="col-9 editable">
        <input type="number" min="0" required="required" class="target paper" name="product-current-purchase-price"
               [(ngModel)]="product.purchasePrice.amount"/>
      </div>
    </div>
  </div>
  <div class="test">
    <div class="row">
      <div class="col-3 ">Packing Type</div>
      <div class="col-9 editable">
        <mat-select [(ngModel)]="product.packagingType" name="packingType">
          <mat-option value="PACK">PACK</mat-option>
          <mat-option value="CARD">CARD</mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <tr>
      <th width="50">#</th>
      <th>Name</th>
      <th>Qty</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let item of product.itemList;let i = index">
      <td>{{i + 1}} .</td>
      <td>{{item.product.productName}}</td>
      <td><input type="text" [(ngModel)]="item.quantity" name="item-quantity-{{i}}"/></td>
      <td><span class="fa fa-trash-alt" (click)="addToProductList(item.product, i)"></span></td>
      <td>{{item.quantity}}</td>
    </tr>
  </table>
  <table class="table table-striped">
    <tr *ngFor="let p of productList;let i = index" (click)="updateProductList(p, i)">
      <td width="50">{{i + 1}} .</td>
      <td>{{p.productName}}</td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <div class="footer">
    <button mat-raised-button color="warn" class="reset-button" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</form>

