<form style="width: 600px">
  <span class="cancel-button" (click)="closeDialog()">x</span>
  <mat-form-field>
    <input matInput type="date" placeholder="Packing Date" required name="date" [(ngModel)]="sale.saleDate"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" min="0" placeholder="Pay Amount" name="payAmount" [(ngModel)]="sale.payAmount">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Total" name="total" [(ngModel)]="sale.total">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Customer Name</mat-label>
    <mat-select name="raw-product-name">
      <mat-option *ngFor="let customer of customerList" (click)="updateCustomer(customer)"
                  [value]="customer.name">{{customer.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <table style="display: block;width:100%; border: thin solid #ccc">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Quantity</th>
      <th (click)="addNewSaleOrder()">+</th>
    </tr>
    <tr *ngFor="let saleOrder of sale.saleOrderList">
      <td>1</td>
      <td>
        <input matInput type="text" style="border: thin solid black" list="name" name="test"
               (change)="updatePrice(saleOrder, $event.target.value)">
      </td>
      <td>
        <input matInput style="border: thin solid black" type="number" min="1" list="quantity" name="quantity"
               (change)="updatePrice(saleOrder, $event.target.value)">
      </td>
      <td>
        {{saleOrder.amount}}
      </td>
    </tr>
  </table>
  <datalist id="name">
    <option *ngFor="let product of productList">{{product.productName}}:{{product.boId}}</option>
  </datalist>
  <button mat-raised-button style="float: right; bottom: -20px; background: blue; color: aliceblue;margin-bottom: 10px"
          (click)="save()">Save
  </button>
  <button mat-raised-button class="reset-button" type="reset"
          style="float: right;right: 70px; background: red; color: aliceblue;">Cancel
  </button>
</form>

