:host {
  display: inline-block;
  position:relative;
  width: 800px;
}
.cancel-button {
  position:absolute;
  right:-10px;
  top:-20px;
}

.reset-button {
  position: absolute;
  bottom: -10px;
}

mat-form-field {
  display: block;
}

.number {
  text-align: right;
}
