<mat-card *ngIf="sale!=null">
    <div class="row" >
      <div class="col-md-3" >ID</div>
      <div class="col-md-9" >{{sale.boId|uppercase}}</div>
    </div>
  <div class="row" >
      <div class="col-md-3" >Date</div>
      <div class="col-md-9" >{{sale.saleDate|date}}</div>
  </div>
  <div class="row" style="border-bottom: 0 solid #ccc;" >
    <div class="col-md-3" >Total</div>
    <div class="col-md-9" >{{sale.liveTotal}}</div>
  </div>
  <div style="padding-top:20px">
    <table class="table">
      <tr>
        <th width="50">#</th>
        <th>Product</th>
        <th width="50">Qty</th>
        <th width="100">Amount</th>
        <th width="150">Total</th>
      </tr>
      <tr *ngFor="let so of sale.saleOrderList; let index= index">
        <td>{{index+1}}. </td>
        <td>{{so.product.productName}}</td>
        <td>{{so.quantity}}</td>
        <td>{{so.product.currentPrice.saleAmount}}</td>
        <td>{{so.total}}</td>
      </tr>
    </table>
  </div>
</mat-card>
