<mat-toolbar color="primary" >
  <div class="menu-button" (click)="updateStatus('product')" class="{{selected == 'product' ? 'active' : ''}}">Product</div>
  <div class="menu-button" (click)="updateStatus('user')" class="{{selected == 'user' ? 'active' : ''}}">User</div>
  <div class="menu-button" (click)="updateStatus('customer')" class="{{selected == 'customer' ? 'active' : ''}}">Customer</div>
  <div class="menu-button" (click)="updateStatus('sale')" class="{{selected == 'sale' ? 'active' : ''}}">Sale</div>
  <div class="menu-button" (click)="updateStatus('purchase')" class="{{selected == 'purchase' ? 'active' : ''}}">Purchase</div>
  <input matInput type="search" placeholder="Search" name="searchText" [(ngModel)]="searchText" class="search" (keyup.enter)="search()"/>
  <span class="fa fa-plus" style="float: right; position: absolute;right: 240px" (click)="openDialog()" ></span>
  <span (click)="openDialog()" class="fa fa-search"></span>
</mat-toolbar>
<!-- mat-tab-group>
  <mat-tab label="Product">
    <app-product-base></app-product-base>
  </mat-tab>
  <mat-tab label="User">
    <app-user-base></app-user-base>
  </mat-tab>
  <mat-tab label="Customer">
    <app-customer-base></app-customer-base>
  </mat-tab>
  <mat-tab label="Purchase">
    <app-purchase-base></app-purchase-base>
  </mat-tab>
  <mat-tab label="Sale">
    <app-sale-base></app-sale-base>
  </mat-tab>
</mat-tab-group -->
<app-product-base [hidden]="selected!='product'" name="productBase"></app-product-base>
<app-user-base [hidden]="selected!='user'" ></app-user-base>
<app-customer-base [hidden]="selected!='customer'" ></app-customer-base>
<app-sale-base [hidden]="selected!='sale'" ></app-sale-base>
<app-purchase-base [hidden]="selected!='purchase'" ></app-purchase-base>

