<mat-toolbar color="primary">
  <div class="menu-button" (click)="updateStatus('product')" class="{{selected == 'product' ? 'active' : ''}}">
    <div>
      <span class="fa fa-box-open"></span>
      Product
    </div>
  </div>
  <div class="menu-button" (click)="updateStatus('user')" class="{{selected == 'user' ? 'active' : ''}}">
    <div>
      <span class="fa fa-user-tie"></span>
      User
    </div>
  </div>
  <div class="menu-button" (click)="updateStatus('customer')" class="{{selected == 'customer' ? 'active' : ''}}">
    <div>
      <span class="fa fa-users"></span>
      Customer
    </div>
  </div>
  <div class="menu-button" (click)="updateStatus('sale')" class="{{selected == 'sale' ? 'active' : ''}}">
    <div>
      <span class="fa fa-cart-plus"></span>
      Sale
    </div>
  </div>
  <div class="menu-button" (click)="updateStatus('purchase')" class="{{selected == 'purchase' ? 'active' : ''}}">
    <div>
      <span class="fa fa-cart-arrow-down"></span>
      Purchase
    </div>
  </div>

  <div class="search-div">
    <span style="display: inline-block; width: 60px">{{searchResultText}}</span>
    <input matInput type="search" name="searchText" [(ngModel)]="searchText" class="search" (keyup.enter)="search()"/>

    <span (click)="openDialog()" style="right:5px;top:8px; position: absolute" class="fa fa-search"></span>
  </div>
  <span class="add-div fa fa-plus" (click)="openDialog()"></span>
</mat-toolbar>
<!-- mat-tab-group>
  <mat-tab label="Product">
    <app-product-base></app-product-base>
  </mat-tab>
  <mat-tab label="User">
    <app-user-base></app-user-base>
  </mat-tab>
  <mat-tab label="Product">
    <app-customer-base></app-customer-base>
  </mat-tab>
  <mat-tab label="Purchase">
    <app-purchase-base></app-purchase-base>
  </mat-tab>
  <mat-tab label="Sale">
    <app-sale-base></app-sale-base>
  </mat-tab>
</mat-tab-group -->
<app-product-base [hidden]="selected!='product'" name="productBase"></app-product-base>
<app-user-base [hidden]="selected!='user'"></app-user-base>
<app-customer-base [hidden]="selected!='customer'"></app-customer-base>
<app-sale-base [hidden]="selected!='sale'"></app-sale-base>
<app-purchase-base [hidden]="selected!='purchase'"></app-purchase-base>

