:host {
  display: inline-block;
  width: 100%;
}

mat-toolbar {
  display: block;
  width: 100%;
  padding-top: 15px;
  cursor: pointer;
  font-size: medium;
}

.add-div {
  float: right;
  right: 30px;
  top: 30px;
  color: black;
  position: absolute;
}

.menu-button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 5px 5px;
  padding: 0px 5px;
}

.menu-button div {
  display: inline-block;
}

.findIcon {
  position: absolute;
  right: 15px;

}

.search-result {
  position: relative;
  right: 405px;
  top: 22px;
}

.search-div {
  float: right;
  width: 350px;
  right: 40px;
  top: 10px;
  color: black;
  position: relative;
  background-color: inherit;
  transition: width 1s;
}

.search {
  background-color: whitesmoke;
  border-radius: 20px;
  width: calc(100% - 60px);
  padding-left: 15px;
}

.search-div:hover {
  width: 400px;
  color: #aaaaaa;
  transition: width 1s;
}

.active {
  position: relative;
  border-radius: 1px;
  background-color: #00006f;
  color: silver;
  border:thin solid #00006f;
}

.active div {

}
