<div style="">
  <mat-list class="left">
    <mat-list-item *ngFor="let sale of saleList" (click)="showDetail(sale.boId)"
                   class="{{detailSale!= null && detailSale.id == sale.id ? 'active' : ''}}">
      <span #item>{{sale.boId}}</span>
    </mat-list-item>
  </mat-list>
  <app-sale-detail [sale]="detailSale"></app-sale-detail>
  <app-sale-report ></app-sale-report>
  <div class="action">
    <div style="width:30px;text-align:center;height: 200px;background-color: var(--primary);" (click)="saleReport()"><span class="fa fa-file-pdf" ></span></div>
  </div>
</div>
