<fa-icon style="float: right; width: 35px; height: 100px; font-size: 20px; color: rebeccapurple" [icon]="plusCircleIcon" (click)="openRawProductDialog()"></fa-icon>
<mat-list class="left">
  <mat-list-item *ngFor="let product of productList" (click)="showDetail(product.boId)"
       class="{{detailProduct!= null && detailProduct.id == product.id ? 'active' : ''}}">
    <span #item>{{product.productName}}</span>
  </mat-list-item>
</mat-list>
<div class="right" *ngIf="detailProduct != null" style="hight: 400px;vertical-align: top;">
  <button mat-raised-button (click)="remove(detailProduct.boId)" color="warn">Delete</button>
  <div>
    <table>
      <tr style="height: 40px">
        <td style="width: 200px">Product_Name :</td>
        <td>{{detailProduct.productName}}</td>
      </tr>
      <tr style="height: 40px">
        <td>BoId :</td>
        <td>{{detailProduct.boId}}</td>
      </tr>
      <tr style="height: 40px">
        <td>Packaging :</td>
        <td>{{detailProduct.peckagingType}}</td>
      </tr>
      <tr style="height: 40px">
        <td>Peckaging_Date :</td>
        <td>{{detailProduct.peckagingDate | date}}</td>
      </tr>
      <tr style="height: 40px">
        <td>Qty:</td>

      </tr>
    </table>
  </div>
</div>
