<form>
  <div class="test">
    <div class="row">
      <div class="col-3 ">Customer Name</div>
      <div class="col-9 editable">
        <input type="text" class="target paper" name="customer-name"
               [(ngModel)]="customer.name"/>
      </div>
    </div>
  </div>
  <div class="test">
    <div class="row">
      <div class="col-3 "> Phone Number</div>
      <div class="col-9 editable">
        <input type="text" class="target paper" name="customer-phone-number"
               [(ngModel)]="customer.phoneNumber"/>
      </div>
    </div>
  </div>

  <div class="test">
    <div class="row">
      <div class="col-3 ">Address</div>
      <div class="col-9 editable">
        <textarea rows="2" cols="20" class="target paper" name="customer-address"
                  [(ngModel)]="customer.address"></textarea>
      </div>
    </div>
  </div>
  <div class="footer">
    <button mat-raised-button color="warn" class="reset-button" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</form>
