<form>
  <div class="test">
    <div class="row">
      <div class="col-3 ">User Name</div>
      <div class="col-9 editable">
        <input type="text" class="target paper" name="user-name"
               [(ngModel)]="user.name"/>
      </div>
    </div>
  </div>
  <div class="test">
    <div class="row">
      <div class="col-3 ">Phone Number</div>
      <div class="col-9 editable">
        <input type="text" class="target paper" name="user-phone-number"
               [(ngModel)]="user.phoneNumber"/>
      </div>
    </div>
  </div>
  <div class="test">
    <div class="row">
      <div class="col-3 ">User Role</div>
      <div class="col-9 editable">
        <mat-select class="target paper" [(ngModel)]="user.role" name="user-role">
          <mat-option value="EMPLOYEE">EMPLOYEE</mat-option>
          <mat-option value="ORGANIZER">ORGANIZER</mat-option>
          <mat-option value="ADMINISTRATOR">ADMINISTRATOR</mat-option>
          <mat-option value="INSTRUCTOR">INSTRUCTOR</mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <div class="test">
  <div class="row">
    <div class="col-3 ">Address</div>
    <div class="col-9 editable">
        <textarea rows="2" cols="20" class="target paper" name="user-address"
                  [(ngModel)]="user.address"></textarea>
    </div>
  </div>
  </div>
  <div class="footer">
    <button mat-raised-button color="warn" class="reset-button" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</form>
